.colorIt {
    background-color: aqua;
}

.colorBg {
    background: tomato;
}

.colorLi {
    background: cadetblue;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.active {
    background-color: gold;
}

